body {
    padding-right: 4.5em;
    padding-left: 4em;
}

.form-group{
    margin-left: 1.5em;
}

.alert{
    margin-top: 1em;
    margin-left: 1em;
}
.menu{
    display: flex;
    flex-wrap: wrap;
}

.form-control{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.topTitle{
    padding-left: 0.5em;
    background: linear-gradient(to right, #CE8568 0%, #B2603F 100%);
    color: aliceblue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
}
.btn-valider{
    margin-bottom: 1em;
    margin-left: 1.5em;
    background: linear-gradient(to right, #FFE3D7 0%, #FFD0BE 100%);
    box-shadow: 3px 3px 3px #FFD0BE;
}
.btn-main{
    flex-grow: 1;
    margin-top: 1em;
    margin-bottom: 1em;

    background: linear-gradient(to right, #FFE3D7 0%, #FFD0BE 100%);
    box-shadow: 3px 3px 3px #FFD0BE;
}
.btn-main + .btn-main {
    margin-left: 1em;
}

.titleCardColor {
    color: white;
    background: linear-gradient(to right top, #FFD0BE 0%, #CE8568 100%);
    box-shadow: 3px 3px 3px #CE8568;
}

.hide {
    display: none;
}